In [2]:
%matplotlib inline
import matplotlib.pyplot as pl
from matplotlib import rcParams
rcParams["savefig.dpi"] = 100
import seaborn as sns

import numpy as np
import pandas as pd
from tqdm import tqdm

# A few useful constants
KEPLER_BEGIN_BK, KEPLER_END_BK = 130, 1582

In [3]:
# Read the TCE table
tcedf = pd.read_csv('../data/q1_q17_dr25_tce.csv')
# Add the unique TCE ID used by the RoboVetter output:
tcedf.loc[:, 'tce'] = ['{:09d}-{:02d}'.format(row.kepid, row.tce_plnt_num) for row in tcedf.itertuples()]

In [12]:
mask = tcedf.tce_period > 100
transitrows = []
for mytce in tqdm(tcedf[mask].itertuples()):
    mytime = mytce.tce_time0bk
    while mytime < KEPLER_END_BK:
        newrow = {'transit_time': mytime,
                  'tce': mytce.tce,
                  'kepid': mytce.kepid,
                  'tce_plnt_num': mytce.tce_plnt_num,
                  'tce_period': mytce.tce_period,
                  'tce_max_mult_ev': mytce.tce_max_mult_ev}                  
        transitrows.append(newrow)
        mytime += mytce.tce_period
transits = pd.DataFrame(transitrows)
transits.to_hdf('all-long-period-tce-transits.h5', key='transits')
len(transits)

66047

In [6]:
KEPLER_QUARTERS = pd.read_csv('../data/kepler-quarters.csv')

def mjd2quarter(mjd):
    mask = (KEPLER_QUARTERS.first_lc_mjd < mjd+0.01) & (KEPLER_QUARTERS.last_lc_mjd > mjd-0.01)
    if mask.any():
        return KEPLER_QUARTERS.loc[mask, 'quarter'].values[0]
    return None

def mjd2season(mjd):
    mask = (KEPLER_QUARTERS.first_lc_mjd < mjd+0.01) & (KEPLER_QUARTERS.last_lc_mjd > mjd-0.01)
    if mask.any():
        return KEPLER_QUARTERS.loc[mask, 'season'].values[0]
    return None

def bkjd_to_mjd_approximate(bkjd):
    """Inexact conversion from Barycentric Kepler Julian Date (BKJD) to Modified Julian Date (MJD).
    
    Inexact because it ignores the TIMECORR and TIMSLICE corrections.
    """
    return bkjd + 2454833 - 2400000.5

def bkjd2quarter(bkjd):
    return mjd2quarter(bkjd_to_mjd_approximate(bkjd))

In [22]:
# Add a column detailing the quarter
quarter_column, season_column = [], []
for row in tqdm(transits.itertuples()):
    mjd = bkjd_to_mjd_approximate(row.transit_time)
    quarter_column.append(mjd2quarter(mjd))
    season_column.append(mjd2season(mjd))
transits['quarter'] = quarter_column
transits['season'] = season_column

In [8]:
import requests

def get_ccdinfo_from_mast(kepler_id, transit_time):
    """Obtain the CCD channel, module, and skygroup for a given kepid/time from MAST."""
    quarter = mjd2quarter(bkjd_to_mjd_approximate(transit_time))
    try:
        q = int(quarter)
    except Exception:
        return {'channel': None, 'module': None, 'output': None, 'skygroup': None}
    max_records = np.random.randint(12345, 1234567890)  # Hack to prevent MAST from throwing a stupid 'Max retries exceeded with url' error
    url = ('http://archive.stsci.edu/kepler/data_search/search.php?'
           'target={}&sci_data_quarter={}'
           '&action=Search&outputformat=JSON'
           '&max_records={}').format(int(kepler_id), int(quarter), max_records)
    resp = requests.get(url)
    if 'no rows found' in str(resp.content):
        return {'channel': None, 'module': None, 'output': None, 'skygroup': None}
    else:
        return {'channel': int(resp.json()[0]['Channel']),
                'module': int(resp.json()[0]['Module']),
                'output': int(resp.json()[0]['Output']),
                'skygroup': int(resp.json()[0]['Skygroup_ID'])}

def get_ccdinfo(transit_idx):
    mytransit = transits.ix[transit_idx]
    ccdinfo = get_ccdinfo_from_mast(mytransit.kepid, mytransit.transit_time)
    ccdinfo['idx'] = transit_idx
    ccdinfo['kepid'] = mytransit.kepid
    ccdinfo['transit_time'] = mytransit.transit_time
    return ccdinfo

In [9]:
get_ccdinfo(10)

{'channel': 32,
 'idx': 10,
 'kepid': 892376,
 'module': 10,
 'output': 4,
 'skygroup': 84,
 'transit_time': 498.041}

In [10]:
import multiprocessing
pool = multiprocessing.Pool(processes=20)
results = []
for result in tqdm(pool.imap(get_ccdinfo, transits.index),
                   total=len(transits), mininterval=120, maxinterval=240):
    results.append(result)
pool.close()

In [19]:
len(results)

66047

In [35]:
results_copy = results

In [11]:
len(results)

66047

In [13]:
ccdinfo = pd.DataFrame(results)
ccdinfo.index = ccdinfo['idx']
ccdinfo.head()

     channel  idx    kepid  module  output  skygroup  transit_time
idx
0        4.0    0  2304168     2.0     4.0      84.0       219.298
1       56.0    1  2304168    16.0     4.0      84.0       651.017
2       56.0    2  2304168    16.0     4.0      84.0      1082.736
3       84.0    3  2304168    24.0     4.0      84.0      1514.455
4       32.0    4  2303102    10.0     4.0      84.0       161.570

In [24]:
transits_with_ccdinfo = transits.merge(ccdinfo, left_index=True, right_index=True)
len(transits_with_ccdinfo)

66047

In [25]:
mask = transits_with_ccdinfo.channel.isnull()
transits_with_ccdinfo[mask]

,kepid_x,tce,tce_max_mult_ev,tce_period,tce_plnt_num,transit_time_x,quarter,season,channel,idx,kepid_y,module,output,skygroup,transit_time_y
26,893507,000893507-02,14.160,302.046,2,891.079,9.0,3.0,NaN,26,893507,NaN,NaN,NaN,891.079
27,893507,000893507-02,14.160,302.046,2,1193.125,13.0,3.0,NaN,27,893507,NaN,NaN,NaN,1193.125
36,893507,000893507-03,15.010,300.228,3,1221.107,13.0,3.0,NaN,36,893507,NaN,NaN,NaN,1221.107
39,893507,000893507-04,13.680,285.254,4,536.772,5.0,3.0,NaN,39,893507,NaN,NaN,NaN,536.772
40,893507,000893507-04,13.680,285.254,4,822.026,9.0,3.0,NaN,40,893507,NaN,NaN,NaN,822.026
45,893507,000893507-05,11.330,308.893,5,889.176,9.0,3.0,NaN,45,893507,NaN,NaN,NaN,889.176
46,893507,000893507-05,11.330,308.893,5,1198.069,13.0,3.0,NaN,46,893507,NaN,NaN,NaN,1198.069
55,893507,000893507-06,11.580,279.221,6,1206.366,13.0,3.0,NaN,55,893507,NaN,NaN,NaN,1206.366
61,893647,000893647-01,12.450,407.102,1,725.497,NaN,NaN,NaN,61,893647,NaN,NaN,NaN,725.497
78,1026133,001026133-02,10.990,186.181,2,802.975,NaN,NaN,NaN,78,1026133,NaN,NaN,NaN,802.975
83,1026474,001026474-01,11.330,223.399,1,198.615,2.0,0.0,NaN,83,1026474,NaN,NaN,NaN,198.615
90,1026474,001026474-02,10.020,205.853,2,250.645,2.0,0.0,NaN,90,1026474,NaN,NaN,NaN,250.645
97,1028246,001028246-01,17.840,105.276,1,147.316,1.0,3.0,NaN,97,1028246,NaN,NaN,NaN,147.316
98,1028246,001028246-01,17.840,105.276,1,252.592,2.0,0.0,NaN,98,1028246,NaN,NaN,NaN,252.592
100,1028246,001028246-01,17.840,105.276,1,463.144,5.0,3.0,NaN,100,1028246,NaN,NaN,NaN,463.144
101,1028246,001028246-01,17.840,105.276,1,568.420,6.0,0.0,NaN,101,1028246,NaN,NaN,NaN,568.420
102,1028246,001028246-01,17.840,105.276,1,673.696,7.0,1.0,NaN,102,1028246,NaN,NaN,NaN,673.696
104,1028246,001028246-01,17.840,105.276,1,884.248,9.0,3.0,NaN,104,1028246,NaN,NaN,NaN,884.248
105,1028246,001028246-01,17.840,105.276,1,989.524,10.0,0.0,NaN,105,1028246,NaN,NaN,NaN,989.524
106,1028246,001028246-01,17.840,105.276,1,1094.800,11.0,1.0,NaN,106,1028246,NaN,NaN,NaN,1094.800
107,1028246,001028246-01,17.840,105.276,1,1200.076,13.0,3.0,NaN,107,1028246,NaN,NaN,NaN,1200.076
108,1028246,001028246-01,17.840,105.276,1,1305.352,14.0,0.0,NaN,108,1028246,NaN,NaN,NaN,1305.352
109,1028246,001028246-01,17.840,105.276,1,1410.628,15.0,1.0,NaN,109,1028246,NaN,NaN,NaN,1410.628
111,1028246,001028246-02,14.670,192.927,2,212.184,2.0,0.0,NaN,111,1028246,NaN,NaN,NaN,212.184
113,1028246,001028246-02,14.670,192.927,2,598.038,6.0,0.0,NaN,113,1028246,NaN,NaN,NaN,598.038
115,1028246,001028246-02,14.670,192.927,2,983.892,10.0,0.0,NaN,115,1028246,NaN,NaN,NaN,983.892
117,1028246,001028246-02,14.670,192.927,2,1369.746,14.0,0.0,NaN,117,1028246,NaN,NaN,NaN,1369.746
118,1028246,001028246-02,14.670,192.927,2,1562.673,17.0,3.0,NaN,118,1028246,NaN,NaN,NaN,1562.673
119,1162339,001162339-02,9.135,417.691,2,168.622,NaN,NaN,NaN,119,1162339,NaN,NaN,NaN,168.622
132,1294756,001294756-02,16.050,327.664,2,259.642,NaN,NaN,NaN,132,1294756,NaN,NaN,NaN,259.642
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65505,11753767,011753767-04,54.170,272.475,4,1537.454,16.0,2.0,NaN,65505,11753767,NaN,NaN,NaN,1537.454
65512,11766805,011766805-01,7.375,239.482,1,350.750,NaN,NaN,NaN,65512,11766805,NaN,NaN,NaN,350.750
65570,11872364,011872364-03,12.050,254.018,3,728.847,NaN,NaN,NaN,65570,11872364,NaN,NaN,NaN,728.847
65617,12010004,012010004-01,18.550,371.473,1,805.252,NaN,NaN,NaN,65617,12010004,NaN,NaN,NaN,805.252
65626,12053628,012053628-03,7.171,101.793,3,786.766,8.0,2.0,NaN,65626,12053628,NaN,NaN,NaN,786.766
65633,12053628,012053628-03,7.171,101.793,3,1499.317,16.0,2.0,NaN,65633,12053628,NaN,NaN,NaN,1499.317
65651,11753949,011753949-01,38.260,435.525,1,1518.382,16.0,2.0,NaN,65651,11753949,NaN,NaN,NaN,1518.382
65684,11859158,011859158-01,28.530,284.728,1,723.724,NaN,NaN,NaN,65684,11859158,NaN,NaN,NaN,723.724
65728,11972294,011972294-01,9.886,121.141,1,165.291,NaN,NaN,NaN,65728,11972294,NaN,NaN,NaN,165.291
65752,12010646,012010646-01,9.637,230.482,1,423.315,4.0,2.0,NaN,65752,12010646,NaN,NaN,NaN,423.315
65754,12010646,012010646-01,9.637,230.482,1,884.279,9.0,3.0,NaN,65754,12010646,NaN,NaN,NaN,884.279
65755,12010646,012010646-01,9.637,230.482,1,1114.761,12.0,2.0,NaN,65755,12010646,NaN,NaN,NaN,1114.761
65757,12010646,012010646-01,9.637,230.482,1,1575.725,17.0,3.0,NaN,65757,12010646,NaN,NaN,NaN,1575.725
65783,11769146,011769146-02,2024.000,282.964,2,350.440,NaN,NaN,NaN,65783,11769146,NaN,NaN,NaN,350.440
65794,11775507,011775507-02,8.631,183.345,2,1372.010,NaN,NaN,NaN,65794,11775507,NaN,NaN,NaN,1372.010
65829,11957046,011957046-04,18.630,383.933,4,1559.055,NaN,NaN,NaN,65829,11957046,NaN,NaN,NaN,1559.055
65842,11972298,011972298-01,12.560,393.191,1,723.347,NaN,NaN,NaN,65842,11972298,NaN,NaN,NaN,723.347
65858,11756821,011756821-03,9.983,415.788,3,1509.535,16.0,2.0,NaN,65858,11756821,NaN,NaN,NaN,1509.535
65889,11775507,011775507-06,7.574,128.920,6,165.555,NaN,NaN,NaN,65889,11775507,NaN,NaN,NaN,165.555
65903,11817027,011817027-01,7.692,317.470,1,279.486,3.0,1.0,NaN,65903,11817027,NaN,NaN,NaN,279.486
65908,11859900,011859900-03,15.050,375.779,3,258.711,NaN,NaN,NaN,65908,11859900,NaN,NaN,NaN,258.711
65921,11859900,011859900-06,13.290,382.033,6,726.700,NaN,NaN,NaN,65921,11859900,NaN,NaN,NaN,726.700
65930,11912947,011912947-01,13.090,316.071,1,166.060,NaN,NaN,NaN,65930,11912947,NaN,NaN,NaN,166.060
65935,11912947,011912947-02,14.110,368.067,2,341.007,3.0,1.0,NaN,65935,11912947,NaN,NaN,NaN,341.007
65939,11912947,011912947-03,13.460,233.197,3,139.174,1.0,3.0,NaN,65939,11912947,NaN,NaN,NaN,139.174
65955,11967872,011967872-01,7.900,134.373,1,249.300,2.0,0.0,NaN,65955,11967872,NaN,NaN,NaN,249.300
65972,12071873,012071873-01,14.940,432.012,1,155.478,1.0,3.0,NaN,65972,12071873,NaN,NaN,NaN,155.478
65988,12115810,012115810-03,7.777,148.089,3,725.822,NaN,NaN,NaN,65988,12115810,NaN,NaN,NaN,725.822
66014,11861688,011861688-01,7.252,285.783,1,805.317,NaN,NaN,NaN,66014,11861688,NaN,NaN,NaN,805.317
66036,11922290,011922290-01,7.235,114.662,1,351.894,NaN,NaN,NaN,66036,11922290,NaN,NaN,NaN,351.894

In [26]:
transits_with_ccdinfo.head()

,kepid_x,tce,tce_max_mult_ev,tce_period,tce_plnt_num,transit_time_x,quarter,season,channel,idx,kepid_y,module,output,skygroup,transit_time_y
0,2304168,002304168-02,12.22,431.719,2,219.298,2.0,0.0,4.0,0,2304168,2.0,4.0,84.0,219.298
1,2304168,002304168-02,12.22,431.719,2,651.017,7.0,1.0,56.0,1,2304168,16.0,4.0,84.0,651.017
2,2304168,002304168-02,12.22,431.719,2,1082.736,11.0,1.0,56.0,2,2304168,16.0,4.0,84.0,1082.736
3,2304168,002304168-02,12.22,431.719,2,1514.455,16.0,2.0,84.0,3,2304168,24.0,4.0,84.0,1514.455
4,2303102,002303102-10,11.51,480.481,10,161.570,1.0,3.0,32.0,4,2303102,10.0,4.0,84.0,161.570

In [30]:
mask_not_observed = transits_with_ccdinfo['channel'].isnull()
print('{} transits were not observed'.format(mask_not_observed.sum()))

5140 transits were not observed

In [49]:
observed_transits = transits_with_ccdinfo[~mask_not_observed].copy()
for column in ['quarter', 'season', 'channel', 'module', 'output', 'skygroup']:
    observed_transits[column] = observed_transits[column].astype('int')

In [50]:
observed_transits.head()

,kepid_x,tce,tce_max_mult_ev,tce_period,tce_plnt_num,transit_time_x,quarter,season,channel,idx,kepid_y,module,output,skygroup,transit_time_y
0,2304168,002304168-02,12.22,431.719,2,219.298,2,0,4,0,2304168,2,4,84,219.298
1,2304168,002304168-02,12.22,431.719,2,651.017,7,1,56,1,2304168,16,4,84,651.017
2,2304168,002304168-02,12.22,431.719,2,1082.736,11,1,56,2,2304168,16,4,84,1082.736
3,2304168,002304168-02,12.22,431.719,2,1514.455,16,2,84,3,2304168,24,4,84,1514.455
4,2303102,002303102-10,11.51,480.481,10,161.570,1,3,32,4,2303102,10,4,84,161.570

In [55]:
assert((observed_transits.kepid_x == observed_transits.kepid_y).all())
assert((observed_transits.transit_time_x == observed_transits.transit_time_y).all())

In [56]:
len(observed_transits)

60907

In [58]:
observed_transits.to_hdf('observed-long-period-transits.h5', key='transits')